<%- include('partials/header') -%>

  <main>
      <div class="grid grid-cols-4 gap-4 p-6">
      <% for(var i=0; i<products.length; i++) {%>     
          <div class="grid border-8 p-4 rounded shadow">
            <a href="/product/<%= products[i]._id%>">
                <img class="aspect-square	h-full object-cover" src="<%= products[i].file%>">
                <div class="">
                  <h1 class="mt-20 text-lg font-bold"><%= products[i].title%></h1>
                  <p><%= products[i].description%></p>
                </div>
            </a>
          </div>
        <% } %>
    </div>
  </main>  
<%- include('partials/footer') -%>
