<script src="https://ar-3d-viewer.cloudinary.com/main.js"></script>

<body class="flex flex-col min-h-screen">

<header>
  <%- include('partials/header') -%>
</header>

<main class="flex flex-col grow justify-center">
  <section class="flex flex-col justify-center items-center my-20 space-y-24">
    <div class="flex justify-center items-center space-x-28 max-w-4xl">
      <div>
        <div class="w-full mb-2 h-64 p-2 ">
          <% if (product.file.slice(-3) === "glb") { %>
              <ar-3d-viewer cloud="dx7g39ojq" ar="false" models="<%= product.file.slice(50)%>">
                <button slot="zoom-in" class="hidden"></button>
                <button slot="zoom-out" class="hidden"></button>
              </ar-3d-viewer>
          <% } else { %>
            <img class="aspect-square	object-cover flex m-auto max-h-64" src="<%= product.file%>">
          <% } %>
        </div>
        <div class="flex justify-between mt-6">
          <h3 class="text-sm font-medium text-gray-900 dark:text-white pl-4">Likes: <%= product.likes %></h3>
          <h3 class="text-sm font-medium text-gray-900 dark:text-white pr-4">Downloads: <%= product.downloads %></h3>
        </div>
      </div>
      <div>
        <h1 class="text-2xl	mb-2"><%= product.title %></h1>
        <div class="mb-6 max-w-lg">
          <p class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Description:</p>
          <p><%= product.description %></p>
        </div>
        <div class="mb-6">
          <p class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Software:</p>
          <p><%= product.software %></p>
        </div>
        <div class="mb-6">
          <p class="mb-1 text-sm font-medium text-gray-900 dark:text-white">Tags:</p>
          <p><%= product.tags %></p>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center">
      <div class=" flex justify-center items-center space-x-3 my-6 whitespace-nowrap	">
        <%if(product.createdBy == user.id){ %>
          <form
            action="/product/deleteProduct/<%= product.id %>?_method=DELETE"
            method="POST" class="mb-0">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Delete Post</button>
          </form>
          <%}%>
      </div>
      <div>
        <a href="/profile" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Return to Dashboard</a>
      </div>
    </div>
  </section>
</main>

<footer>
  <%- include('partials/footer') -%>
</footer>

</body>

      <!-- <form
          action="/product/likeProduct/<%= product.id %>?_method=PUT"
          method="POST"
        >
          <button type="submit">Like</button>
      </form> -->