<%- include('partials/header') -%>
<div class="container">
  <div>
      <div>
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout">Logout</a>
          </div>
          <div>
            <h2>Add a Product</h2>
            <form action="/product/createProduct" enctype="multipart/form-data" method="POST">
              <div>
                  <label for="title">Title</label>
                  <input type="text" id="title" name="title">
              </div>
              <div>
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
              </div>
              <div>
                <label for="software">Software</label>
                <textarea id="software" name="software"></textarea>
              </div>
              <div>
                <label for="tags">Tags</label>
                <textarea id="tags" name="tags"></textarea>
              </div>
              <div>
                <label for="fileUpload">File</label>
                <input type="file" class="form-control" id="file" name="file">
              </div>
              <button type="submit" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div>
        <ul>
        <% for(var i=0; i<products.length; i++) {%>
          <li>
            <a href="/product/<%= products[i]._id%>">
              <img src="<%= products[i].file%>">
              <h1><%= products[i].title%></h1>
            </a>
          </li>
        <% } %>
        </ul>
        <div>
          <a href="/library">Return to Library</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>